[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "TideCurves"]
	path = TideCurves
	url = https://github.com/moritzmn/tidecurves
[submodule "TideTables"]
	path = TideTables
	url = https://github.com/moritzmn/tidetables
